ion-grid .tabla {
  border-radius: 5px;
  margin: 15px;
}

ion-row {
  text-align: center;
  border-bottom: none;
}

.tabla {
  border-radius: 5px;
  margin: 15px;
}

.celda {
  font-weight: normal;
}

.celda.cabecera {
  font-weight: bold;
}

.fila.cabecera {
  font-weight: bold;
}

ion-backdrop {
  opacity: 0.3;
}

#box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--ion-background-color, #fff);
  width: 90%;
  height: 100px;
  border-radius: 10px;
}
