ion-avatar {
  --border-radius: 4px;
  margin: 5px;
}

ion-grid .tabla {
  border-radius: 5px;
  margin: 15px;
}

ion-row {
  text-align: center;
  border-bottom: none;
}

.tabla {
  border-radius: 5px;
  margin: 15px;
}

.celda {
  font-weight: normal;
}

.celda.cabecera {
  font-weight: bold;
}

.fila.cabecera {
  font-weight: bold;
}
